.footer{
  padding: 1.5em 0;
  background: #151415;
  color: #fff;
  &__inner{
    display: flex;
    align-items: center;
  }
  .contacts{
    margin-left: auto;
  }
  &__info{
    @include grid100gap(.2em);
    margin-left: 10.28em;
  }
}


@media screen and (max-width: 992px){
  .footer{
    padding: 1em 0;
    &__info{
      margin-left: 2em;
    }
  }
}


@media screen and (max-width: 576px){
  .footer{
    &__inner{
      flex-wrap: wrap;
    }
    &__info{
      margin-left: auto;
    }
    .contacts{
      width: 100%;
      margin: 1em 0 0;
      justify-content: flex-end;
    }
    .social{
      margin-right: auto;
      margin-left: 2em;
    }
  }
}
