<div class="container">
    <div class="footer__inner">
        <a href="" class="logo">
            <img src="img/logo.svg" alt="" class="_view1">
            <img src="img/logo2.svg" alt="" class="_view2">
        </a>

        <div class="footer__info">
            <div class="text11 gray-text uppercase-text">
                <a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
            </div>
            <div class="text11 gray-text uppercase-text">
                © 2015-2023 Ве права защищены
            </div>
        </div>

        <div class="contacts">
            <div class="contacts__item">
                <div class="text11 gray-text">Работаем пн-пт с 10:00 до 19:00</div>
                <a href="tel:+74992166397" class="contacts__phone text30">
                    +7 (499) 216-63-97
                </a>
            </div>
            <div class="social">
                <a href="" class="social__item">
                    <img src="img/tg.svg" alt="">
                </a>
                <a href="" class="social__item">
                    <img src="img/whatsapp.svg" alt="">
                </a>
                <a href="" class="social__item">
                    <img src="img/viber.svg" alt="">
                </a>
            </div>
            <a href="" class="contacts__instagram social__item">
                <img src="img/ig.svg" alt="">
            </a>
        </div>
    </div>
</div>
