<div class="container">
    <div class="header__inner">
        <a href="" class="logo">
            <img src="img/logo.svg" alt="" class="_view1">
            <img src="img/logo2.svg" alt="" class="_view2">
        </a>
        <div class="contacts">
            <a href="tel:+74992166397" class="contacts__phone text30">
                +7 (499) 216-63-97
            </a>
            <div class="social">
                <a href="" class="social__item">
                    <img src="img/tg.svg" alt="">
                </a>
                <a href="" class="social__item">
                    <img src="img/whatsapp.svg" alt="">
                </a>
                <a href="" class="social__item">
                    <img src="img/viber.svg" alt="">
                </a>
            </div>
            <button class="header__btn m-btn m-btn-primary">
                <img src="img/call.svg" alt="">
                <span>обратный звонок</span>
            </button>
        </div>
    </div>
</div>
